h2{
  text-align: center;
  margin-top: 12px;
}
.formSignIn{
  margin : 3rem;
}

.formContainer{

  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
  border: solid grey;
  border-radius: 3px;
}
