<div class="presentation">
  <div>
   <img src="../assets/img/w-title.png">
  </div>
  <div>
    <img src="../assets/img/photoAccueil.jpg" height="600">
  </div>
</div>
<div class="textPresentation">
  <h1>UNE SALLE DE SPORT QUI S'ADAPTE A VOUS</h1>
  <p class="pPresentation">Trouve ton club workshop le plus proche de chez toi et profite d'un accès 7/7j,
    <br>de 6h à 22h30 partout en France
    <br>
    Ta carte membre te donne accès à tous les clubs de France, sans limite de temps</p>
  <br>
  <h1>NOS SALLES DE SPORTS PRES DE CHEZ VOUS</h1>
</div>
