.presentation{
  margin: 3rem;
  display: flex;
  justify-content: space-between;
}
.textPresentation{
  margin: 3rem;
  text-align: center;
}
h1{
  font-family: 'Oswald', sans-serif;
}
.pPresentation {
  font-family: 'Oswald', sans-serif;
}
